<?xml version="1.0" encoding="UTF-8" ?>

<!-- 30초마다 설정 파일의 변경을 확인한다. 파일이 변경되면 다시 로딩한다 -->
<configuration scan="true" scanPeriod="30 seconds">

	<!-- TRACE < DEBUG < INFO <  WARN < ERROR -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<pattern>
				%d{HH:mm:ss} %-5level %logger{32} - %msg%n
			</pattern>
		</layout>
	</appender>
	
	<root level="TRACE">
		<appender-ref ref="console" />
	</root>

</configuration>
